.admin-panel{
    
    .page-title{
        text-align: center;
        margin: 1rem;
    }

    .registers{
        width: 100%;
        margin-left: 4rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        .registers-item{
            margin: 1rem;
            border: 1px solid black;
            background: white;
            .register{
                
                div{
                    
                    label{
                        font-size: 0.8rem;
                            color: black;
                            
                    }
                }
            }
    
            .register-icons{
                text-align: center;
                margin-top: 1rem;
                
                span{
    
                    svg{
                        cursor: pointer;
                        width: 25%;
                    }
                }
            } 
        }
    }

    .register-data{
        position: absolute;
        top: 72vh;
        
        div{
            display: flex;

            p{
                margin-left: 0.5rem;
                color: white;
            }
        }
        
        ul{
            display: flex;

            li{
                margin-left: 0.5rem;
                color: whitesmoke;
                cursor: pointer;
            }
        }
    }

   

    .admin-form{
        width: 90%;
        margin: auto;
        background: white;

        #color-panel{
            background: hsl(0, 4%, 85%);
        }

        .gestion{ 

            .contents{
                
                button{
                    border-style: none;
                    padding: 1rem;
                    padding-bottom: 1.5rem;
                    cursor: pointer;
                    background: hsl(0, 4%, 85%);
                }

                :first-child{
                    background: darkcyan ;
                    color: white;
                }
            } 
        }

        .options{
            
            .element{
               display: flex;
                width: 80%;
                margin-left: auto;
                span{
                    
                    
                    svg{
                        cursor: pointer;
                        width: 45%;
                    }
                }  

                .switch{
                    margin-right: 0.3rem;
                    margin-top: 0.3rem;
                    
                    input{
                        display: none;
                        
                        &:checked + label {
                        background-color: darkcyan;
                        border: 1px solid black;
                        &:before {
                            
                            transform: translateX(40px);
                            box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1);
                            animation: moveRight 0.3s ease-in-out;
                        }
                        }
                    }
                    

                    label{
                        border: 1px solid black;
                        position: relative;
                        display: inline-block;
                        width: 90px;
                        height: 50px;
                        background-color: #e1e1e1;
                        border-radius: 50px;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                        box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
                        -webkit-tap-highlight-color: transparent;
                        
                        &:before {
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        height: 44px;
                        width: 44px;
                        border: 1px solid black;
                        background-color: #fff;
                        border-radius: 46px;
                        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
                        transition: box-shadow 0.3s ease-in-out;
                        animation: moveLeft 0.3s ease-in-out;
                        }
                    }
                    @keyframes moveRight {
                        0% {
                          width: 46px;
                          transform: translateX(0);
                        }
                        45% {
                          width: 52px;
                        }
                        100% {
                          width: 46px;
                          transform: translateX(40px);
                        }
                      }
                      
                      @keyframes moveLeft {
                        0% {
                          width: 46px;
                          transform: translateX(40px);
                        }
                        45% {
                          width: 52px;
                        }
                        100% {
                          width: 46px;
                          transform: translateX(0);
                        }
                    }
                }
            }
        }

        .resume{
        
            table{
                display: flex;
                justify-content: space-between;
                
                
                tbody{
                    width: 100%;
                }
    
                tr{
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: white;
                    margin-right: 1rem;
                    text-align: center;
    
                    
                    
                    td{
                        padding: 1rem ;
    
                        input{
                            width: 10%;
                        }
                        
                    }
    
                    .amount{
                        display: flex;
                        width:35%;
                        margin-top: 0.5rem;
                        margin-left: 7rem;
                        
                        
                        .less{
                            button{
                               
                                border: 1px solid #c4402f;
                                border-radius: 4px;
                                background-color: #CC4331;
                                box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
                                color: white;
                                text-align: center;
                                text-decoration: none;
                                text-shadow: 0 -1px -1px #af3a2a;
                                font-weight: 800;
                                font-size: 1rem;
                                transition: all 0.15s ease-in-out;
                                
                            }
                        }
        
                        .number{
                            color: white;
                            font-weight: 600;
                            font-size: 1.6rem;
                            padding: 0rem 1rem 0rem 1rem;
                         
                            .show{
                                text-align: center;
                                width: 70%;
                                margin: auto;
                                
                            }
                        }
                        
                        .more{
                            button{
                                
                                border: 1px solid #c4402f;
                                border-radius: 4px;
                                background-color: #CC4331;
                                box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
                                color: white;
                                text-align: center;
                                text-decoration: none;
                                text-shadow: 0 -1px -1px #af3a2a;
                                font-weight: 800;
                                font-size: 1rem;
                                transition: all 0.15s ease-in-out;
                            }
                        }
                    }
    
                    th{
                        padding: 1rem;
                    }
    
                    img{
                        max-width: 25%;
                    }
                }
                
                tr:first-child{
                    border-bottom: 0.6rem solid white ;
                    width: max-content;
                }
            }    
        }    
            

        .form-group{
            text-align: center;
            
            .form-label{
                padding: 0.5rem;
                label{
                    color: black;
                    font-weight: 600;
                }
            }

            .form-input{
                padding: 0.5rem;
                input{
                    border-style: none;
                    border-bottom: 2px hsl(0, 4%, 85%) solid;
                    width: max-content;  
                }
                    
                textarea{
                    width: 75%;
                    margin: auto;

                }
                
            }
        }
    }
}