.admin-panel{

    .page-title{
        text-align: center;
        margin: 1rem;
    }

    .registers{
        width: 100%;
        margin-left: 4rem;
        padding: 0.5rem;
        background: white;
        border-top: hsl(0, 4%, 85%) 5px solid;
        border-bottom: hsl(0, 4%, 85%) 5px solid;
        border: 1px solid black;
        margin-bottom: 1rem;
        .registers-item{
            
            .register{
                
                div{
                    
                    label{
                        font-size: 0.8rem;
                            color: black;
                            
                    }
                }
            }
    
            .registers-icons{
                text-align: end;
    
                span{
    
                    svg{
                        width: 25%;
                        cursor: pointer;
                    }
                }
            } 
        }
    }

    .register-data{
        position: absolute;
        top: 72vh;
        
        div{
            display: flex;

            p{
                margin-left: 0.5rem;
                color: white;
            }
        }
        
        ul{
            display: flex;

            li{
                margin-left: 0.5rem;
                color: whitesmoke;
                cursor: pointer;
            }
        }
    }

   

    .admin-form{
        width: 90%;
        margin: auto;
        background: white;

        #color-panel{
            background: hsl(0, 4%, 85%);
        }

        .gestion{ 

            .contents{
                
                button{
                    border-style: none;
                    padding: 1rem;
                    padding-bottom: 1.5rem;
                    cursor: pointer;
                    background: hsl(0, 4%, 85%);
                }

                :first-child{
                    background: darkcyan ;
                    color: white;
                }
            } 
        }

        .options{
            
            .element{
               display: flex;
                width: 80%;
                margin-left: auto;
                span{
                    
                    
                    svg{
                        cursor: pointer;
                        width: 45%;
                    }
                }  

                .switch{
                    margin-right: 0.3rem;
                    margin-top: 0.3rem;
                    
                    input{
                        display: none;
                        
                        &:checked + label {
                        background-color: darkcyan;
                        border: 1px solid black;
                        &:before {
                            
                            transform: translateX(40px);
                            box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1);
                            animation: moveRight 0.3s ease-in-out;
                        }
                        }
                    }
                    

                    label{
                        border: 1px solid black;
                        position: relative;
                        display: inline-block;
                        width: 90px;
                        height: 50px;
                        background-color: #e1e1e1;
                        border-radius: 50px;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                        box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
                        -webkit-tap-highlight-color: transparent;
                        
                        &:before {
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        height: 44px;
                        width: 44px;
                        border: 1px solid black;
                        background-color: #fff;
                        border-radius: 46px;
                        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
                        transition: box-shadow 0.3s ease-in-out;
                        animation: moveLeft 0.3s ease-in-out;
                        }
                    }
                    @keyframes moveRight {
                        0% {
                          width: 46px;
                          transform: translateX(0);
                        }
                        45% {
                          width: 52px;
                        }
                        100% {
                          width: 46px;
                          transform: translateX(40px);
                        }
                      }
                      
                      @keyframes moveLeft {
                        0% {
                          width: 46px;
                          transform: translateX(40px);
                        }
                        45% {
                          width: 52px;
                        }
                        100% {
                          width: 46px;
                          transform: translateX(0);
                        }
                    }
                }
            }
        }

        
            

        .form-group{
            text-align: center;
            
            .form-label{
                padding: 0.5rem;
                label{
                    color: black;
                    font-weight: 600;
                }
            }

            .form-input{
                padding: 0.5rem;
                input{
                    border-style: none;
                    border-bottom: 2px hsl(0, 4%, 85%) solid;
                    width: max-content;  
                }

                .text-editor{
                    width: 75%;
                    margin: auto;
                    padding-bottom: 5rem;
                    
                    .ckeditor{
                        padding-bottom: 3rem;
                        color: black;
                    }
                }
            }
        }
    }
}