.window-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;

    .container{
        display: flex;
        width: 50%;
        margin: auto;
        .accept{
        
            button{
                &:hover{
                    background-color: #00a65a;
                }
            }
        }
        .refuse{
            button{
                &:hover{
                    background-color: #dd4b39;
                }
            }
        }
    }

    &.active{
        display: block;
    }
}